*{
    margin: 0;
    padding: 0;
}

header{
    background-image: url(./images/mobile/image-header.jpg);
    background-size: cover;
    height: auto;
    
}

.clientdiv{
    display: block;
    text-align: center;
}

div .client{
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin-block-start: 20%;
    margin-block-end: 20%;
}

.client>img{
    clip-path: circle();
}

.card-item{
    margin-block-start: 40px;
    margin-block-end: 40px;
}

.imgdiv{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    padding: 0;
}
/* 
.image{
    width: 152.5px;
} */

footer{
    background-color: #90d4c5;
    
}

footer>div{
    text-align: center;
}

footer div>h3{
    color: #327b6a;
    font-weight: bolder;
    font-size: 30px;
    padding: 40px;
}

footer div>a{
    text-decoration: none;
    color: #438a7a;
    padding: 15px;
    font-weight: 500;
}

footer div>a:hover{
    color: black;
}

.icondiv{
    display: flex;
    justify-content: center;
}

.icon{
    width: 40px;
    padding: 10px;
    margin-block-start: 40px;
    margin-block-end: 40px;
}