* {
  margin: 0;
  padding: 0;
}

header {
  background-image: url("./images/mobile/image-header.jpg");
  height: 70vh;
  background-repeat: no-repeat;
  background-size: contain;
  background-size: 100%;
  width: 100%;
}

header > h2 {
  color: white;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  padding: 1rem;
}

nav {
  position: fixed;
  background-color: white;
  width: 85%;
  height: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  top: 1rem;
  right: 1.5rem;
  bottom: 0;
  gap: 1rem;
  transition: 1s;
  transform: translateY(-250vh);
}

.links a {
  text-decoration: none;
  color: #4b585f;
  font-size: 20px;
  font-weight: 600;
}

.contact {
  width: 40%;
  padding: 1rem;
  font-weight: 800;
  color: black;
  background-color: gold;
  outline: none;
  border: none;
  border-radius: 50px;
}

.responsive-nav {
  transform: none;
}

.nav-btn {
  visibility: visible;
}

.nav-btn {
  font-size: 30px;
  padding: 10px 20px;
  color: white;
  background-color: transparent;
  outline: none;
  border: none;
  cursor: pointer;
}

.open-btn {
  position: absolute;
  top: 0;
  right: 1rem;
  font-size: 40px;
}

.close-btn {
  background-color: gold;
  padding: 5px 10px;
  position: absolute;
  top: 0.5rem;
  right: 1rem;
  z-index: 5;
}

.creatives {
  margin: 25% auto;
  width: 12ch;
  color: white;
  text-align: center;
  align-items: center;
}

.main {
  display: flex;
  flex-direction: column;
}

.img {
  width: 100%;
}

.img > img {
  width: 100%;
  height: 100%;
}

.trans {
  background-image: url(./images/mobile/image-transform.jpg);
  background-repeat: no-repeat;
  background-size: contain;
  /* background-size: 100%; */
  /* width: 100%; */
  /* height: 15rem; */
}

.brand {
  text-align: center;
  padding: 1rem;
}

.brand h1 {
  width: 15ch;
  font-size: xx-large;
  margin: 0 auto;
  margin-block-start: 30px;
}

.brand p {
  font-size: 18px;
  margin-block-start: 20px;
  line-height: 1.6rem;
  color: #4b585f;
}

.brand button {
  outline: none;
  border: none;
  cursor: pointer;
  background: linear-gradient(-180deg, white, rgb(255, 255, 190));
  font-weight: bold;
  font-size: 15px;
  padding: 5px 10px;
  border-radius: 5px;
  margin-block-start: 30px;
  margin-block-end: 30px;
}

.standout {
  background-image: url(./images/mobile/image-stand-out.jpg);
  background-repeat: no-repeat;
  background-size: contain;
  background-size: 100%;
  height: 40vh;
}

.stand {
  text-align: center;
  padding: 1rem;
}

.stand h1 {
  width: 15ch;
  font-size: xx-large;
  margin: 0 auto;
  margin-block-start: 30px;
}

.stand p {
  font-size: 18px;
  margin-block-start: 20px;
  line-height: 1.6rem;
  color: #4b585f;
}

.stand button {
  outline: none;
  border: none;
  cursor: pointer;
  background: linear-gradient(-180deg, white, rgb(255, 195, 205));
  font-weight: bold;
  font-size: 15px;
  padding: 5px 10px;
  border-radius: 5px;
  margin-block-start: 30px;
  margin-block-end: 30px;
}

.graphic {
  background-image: url(./images/mobile/image-graphic-design.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-size: 100%;
  height: 78vh;
  text-align: center;
}

.text {
  margin-block-start: 90%;
}

.graphic h1 {
  width: 15ch;
  color: #465258;
  font-size: xx-large;
  margin: 0 auto;
}

.graphic p {
  margin: 0 auto;
  margin-block-start: 10px;
  line-height: 1.6rem;
  color: #4b585f;
}

.photo {
  background-image: url(./images/mobile/image-photography.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-size: 100%;
  height: 75vh;
  text-align: center;
}

.photo h1 {
  color: #465258;
  font-size: xx-large;
}

.photo p {
  margin: 0 auto;
  margin-block-start: 20px;
  line-height: 1.6rem;
  color: #4b585f;
}

.client-section {
  text-align: center;
  padding: 1rem;
}

.client-section h3 {
  letter-spacing: 1px;
  color: #595c5e;
  margin-block-start: 50px;
  margin-block-end: 30px;
}

.main-div1 {
  display: flex;
  flex-direction: column;
}

.baby {
  margin-block-end: 50px;
}

.baby img {
  border-radius: 50%;
  margin-block-start: 20px;
}

.testimony {
  margin-block-start: 30px;
}

.baby h3 {
  margin-block-start: 30px;
  margin-bottom: 0;
  color: black;
}

.role {
  margin-block-start: 10px;
  color: #465258;
}

.main-div {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
}

.main-div img {
  width: 100%;
}

footer {
  background-color: rgb(154, 220, 199);
  padding: 1rem;
  text-align: center;
}

footer h1 {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: rgb(46, 103, 83);
  padding-top: 50px;
}

.footer-link {
  margin: 20% 0;
}

.footer-link a {
  text-decoration: none;
  color: #555d61;
  font-size: 20px;
  padding: 0 3%;
}

footer img {
  width: 10%;
  padding: 20% 5%;
}

@media (min-width: 360px) {
  header {
    height: 75vh;
  }

  .trans {
    height: 17rem;
  }

  .graphic {
    height: 80vh;
  }

  .standout {
    height: 45vh;
  }
}

@media (min-width: 380px) {
  .graphic {
    height: 80vh;
  }
}

@media (min-width: 390px) {
  header {
    height: 62vh;
  }

  .graphic {
    height: 70vh;
  }
}

@media (min-width: 400px) {
  header {
    height: 89vh;
  }

  .trans {
    height: 20rem;
  }

  .standout {
    height: 50vh;
  }

  .graphic {
    height: 96vh;
  }

  .photo {
    height: 98vh;
  }
}

@media (min-width: 450px) {
  .standout {
    height: 58vh;
  }
}

@media (min-width: 480px) {
  header {
    height: 77vh;
  }

  .graphic {
    height: 86vh;
  }
}

@media (min-width: 500px) {
  header {
    height: 110vh;
  }

  .trans {
    height: 25rem;
  }

  .brand {
    height: 28rem;
  }

  .brand p {
    width: 90%;
    margin: 1.5rem auto;
    font-size: 25px;
    line-height: 2.5rem;
  }

  .brand button {
    margin-block-start: 0px;
  }

  .stand {
    height: 27rem;
  }

  .stand p {
    width: 90%;
    margin: 1.5rem auto;
    font-size: 25px;
    line-height: 2.5rem;
  }

  .stand button {
    margin-block-start: 0;
  }

  .graphic {
    height: 125vh;
  }

  .text {
    margin-block-start: 100%;
  }

  .graphic p {
    width: 39ch;
    margin: 1.5rem auto;
    font-size: 22px;
    line-height: 2.5rem;
  }

  .photo {
    height: 125vh;
  }

  .photo p {
    width: 39ch;
    margin: 1.5rem auto;
    font-size: 22px;
    line-height: 2.5rem;
  }

  .emily-div p {
    width: 32ch;
    margin: 1.5rem auto;
    font-size: 22px;
    line-height: 2rem;
  }

  .thomas-div p {
    width: 33ch;
    margin: 1.5rem auto;
    font-size: 22px;
    line-height: 2rem;
  }

  .jennie-div p {
    width: 35ch;
    margin: 1.5rem auto;
    font-size: 22px;
    line-height: 2rem;
  }
}

@media (min-width: 520px) {
  .trans {
    height: 25rem;
  }

  .standout {
    height: 68vh;
  }

  .graphic,
  .photo {
    height: 130vh;
  }

  .text {
    margin-block-start: 105%;
  }
}

@media (min-width: 580px) {
  header {
    height: 130vh;
  }

  .trans {
    height: 28rem;
  }

  .standout {
    height: 75vh;
  }

  .graphic,
  .photo {
    height: 146vh;
  }
}

@media (min-width: 650px) {
  header {
    height: 145vh;
  }

  .trans {
    height: 32rem;
  }

  .standout {
    height: 85vh;
  }

  .graphic,
  .photo {
    height: 160vh;
  }
}

@media (min-width: 700px) {
  header {
    height: 158vh;
  }

  .trans {
    height: 35rem;
  }

  .standout {
    height: 90vh;
  }

  .graphic,
  .photo {
    height: 177vh;
  }
}

@media (min-width: 750px) {
  header {
    height: 165vh;
  }

  .trans {
    height: 38rem;
  }

  .brand {
    height: 30rem;
  }

  .brand h1 {
    margin-block-start: 40px;
  }

  .brand p {
    margin-block-start: 40px;
    font-size: 27px;
    line-height: 3rem;
  }

  .brand button {
    margin-block-start: 30px;
  }

  .standout {
    height: 95vh;
  }

  .stand {
    height: 30rem;
  }

  .stand h1 {
    margin-block-start: 40px;
  }

  .stand p {
    margin-block-start: 40px;
    font-size: 27px;
    line-height: 3rem;
  }

  .stand button {
    margin-block-start: 30px;
  }

  .graphic,
  .photo {
    height: 177vh;
  }

  .emily-div p,
  .thomas-div p,
  .jennie-div p {
    font-size: 25px;
    line-height: 2.5rem;
  }

  .footer-link {
    margin: 10% 0;
  }

  .footer-link a {
    text-decoration: none;
    color: #555d61;
    font-size: 22px;
    padding: 0 10%;
  }

  footer img {
    width: 4%;
    padding: 10% 5%;
  }
}

@media (min-width: 768px) {
  header {
    height: 1000px;
  }

  .standout {
    height: 580px;
  }

  .graphic,
  .photo {
    height: 1200px;
  }

  .graphic p,
  .photo p {
    font-size: 30px;
  }
}

@media (min-width: 800px) {
}
